// Bitmap

BALL1		BITMAP LOADONCALL MOVEABLE DISCARDABLE	"Freaky1.bmp"
BALL2		BITMAP LOADONCALL MOVEABLE DISCARDABLE	"Freaky2.bmp"
BALL3		BITMAP LOADONCALL MOVEABLE DISCARDABLE	"Freaky3.bmp"


