ICOSELECT	BITMAP LOADONCALL MOVEABLE DISCARDABLE	"Stuff\Schaltflaechen-Symbole\icoSelect.bmp"
ICONEW		BITMAP LOADONCALL MOVEABLE DISCARDABLE	"Stuff\Schaltflaechen-Symbole\icoNew.bmp"
ICOUNDO		BITMAP LOADONCALL MOVEABLE DISCARDABLE	"Stuff\Schaltflaechen-Symbole\icoUndo.bmp"
ICOSCORE	BITMAP LOADONCALL MOVEABLE DISCARDABLE	"Stuff\Schaltflaechen-Symbole\icoScore.bmp"
ICOCFG		BITMAP LOADONCALL MOVEABLE DISCARDABLE	"Stuff\Schaltflaechen-Symbole\icoCfg.bmp"
ICOHELP		BITMAP LOADONCALL MOVEABLE DISCARDABLE	"Stuff\Schaltflaechen-Symbole\icoHelp.bmp"
ICOABOUT	BITMAP LOADONCALL MOVEABLE DISCARDABLE	"Stuff\Schaltflaechen-Symbole\icoAbout.bmp"
ICOQUIT		BITMAP LOADONCALL MOVEABLE DISCARDABLE	"Stuff\Schaltflaechen-Symbole\icoQuit.bmp"

TILEBACK1	RCData					"Stuff\Backtiles\water1.jpg"
TILEBACK2	RCData					"Stuff\Backtiles\bricks10.jpg"
TILEBACK3	RCData					"Stuff\Backtiles\pcer.jpg"
TILEBACK4	RCData					"Stuff\Backtiles\leylandiae01-0268.jpg"
TILEBACK5	RCData					"Stuff\Backtiles\mari.jpg"
TILEBACK6	RCData					"Stuff\Backtiles\Emerald_thumb.jpg"
TILEBACK7	RCData					"Stuff\Backtiles\cloud03.jpg"
TILEBACK8	RCData					"Stuff\Backtiles\Aqua_Stained_Glass.jpg"

PROGLOGO	RCData					"Stuff\3D-Artwork\Programmlogo.jpg"

WORDICON	ICON	"word.ico"

STRINGTABLE
BEGIN
1	"New"
2	"Start a new game."
3	"Undo"
4	"Take back last move (press shift to restart the game)."
5	"Restart"
6	"Start over the current game."
7	"Save"
8	"Save the current game to a file."
9	"Load"
10	"Load a game from a file."
11	"Scores"
12	"Show the score window."
13	"Game list update"
14	"Update the list of available games."
15	"Select"
16	"Select the game you want to play."
17	"Configuration"
18	"Show the configuration window."
19	"About"
20	"Information about Clickomania next generation."
21	"Help"
22	"Show the help file."
23	"Quit"
24	"Terminate the game."
25	"Hide"
26	"Hide and camouflage the game."
27	"Create link"
28	"Create a hyperlink to the game on the desktop."
29	"Points"
30	"Language file"
31	"Load the appropriate language according to your system language."

50	"Clickomania Next Generation"
51	"An addictive puzzle game"
70	"Game is over!"
71	"Game won!"
72	"No luck there!"
73	"Current game will be terminated. OK?"
74	"Give up game?"
80	"Microsoft Word - Document 1"

200	"Configuration"
201	"Main"
202	"Use small main window"
203	"With this option checked, you get a more Windows like look of the main window."
204	"Play sounds"
205	"Check this option, if you want Clickomania to play sounds (if there are any in the game file)."
206	"Show tooltips"
207	"With this option checked, you will get tooltips for the buttons of the main window. Uncheck this checkbox if you don't like them!"
208	"Select path"
209	"Check this option if you want Clickomania to store its information in a different folder than the program directory. Only experienced users should use this feature."
210	"OK"
211	"Save the changes you have made to the configuration."
212	"Cancel"
213	"Reject the changes you have made to the configuration."
220	"Select the path where the Clickomania files (game type files CNG and score files CSC) are stored..."
221	"You need to make sure that the Clickomania game files are to be found in the directory you have indicated. Move all CNG files manually to the folder you have set up and restart the program. Otherwise, you'll get a load error."

250	"Language"
251	"List of languages available"
252	"Translator"
253	"Could not get translator name."

400	"Scores"
401	"Publish scores"
402	"Publish your the result of the last game (the highlighted one) in the Internet."
403	"Switch"
404	"Switch between big and small window."
420	"Games played"
421	"Averg. tiles"
422	"Averg. time per game"
423	"Unfinished"
424	"Rank"
425	"Player"
426	"Points"
427	"Date"
428	"Stones"
429	"Time"
430	"Best move"
435	"You have to play first. You can only publish the result of the game you have just played before."
436	"There was an error during the transmission of the results."
437	"There was an error during the attempt to get the result page from the following address: "

500	"Player"
501	"Your &name"
502	"Name or alias for the score list."
503	"Your mail address or a comment (Attention: This information will be published to the internet when using the web score list!)"
504	"&OK"
505	"Save this name."
506	"&Cancel"
507	"Discart name and use default."

600	"Could not use the picture %s as background."
601	"Default clickomania game"
602	""
603	"Could not load game &s. Using default game instead."
604	"Could not save this game type."
605	"[Anonymous]"
606	"Could not open score file. (Maybe, it's the format of a previous version. The file has been deleted.)"

800	"About"
801	"By Matthias Schüssler, 8400 Winterthur, Switzerland"
810	"Close"
811	"Close this window."
812	"www.clickomania.ch"
813	"http://www.clickomania.ch"
815	"Along with Clickomania next generation, there comes the Game Designer. It helps you creating your own Clickomania game files:"
816	"Check out the Clickomania Game Designer!"
817	"http://www.clickomania.ch/click/editor.html"
820	"... thanks to Diana for her inspiration."

830	"Could not open the web link: "

9990	"English"
9992	"Matthias Schüssler"
END

1 24 "WindowsXP.manifest"